<div class="container mt-5">

    <!--show errormsg-->
    <div *ngIf="errormsg" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong> You should check in on some of those fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong> You should check in on some of those fields below.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    <form [formGroup]="habitsForm" (ngSubmit)="habitSubmit()">
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="habit_name"
                placeholder="enter the name of the habit">
        </div>

        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="habit_description"
                placeholder="describe your habit">
        </div>

        <div class="col-lg-4 mt-2">
            <input type="date" class="form-control" formControlName="start_time" placeholder="enter starting time">
        </div>

        <div class="col-lg-4 mt-2">
            <input type="date" class="form-control" formControlName="end_time" placeholder="enter ending">
        </div>


        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="done" placeholder="DONE OR NOT YET">
            <button type="radio">yes</button>
        </div>

        <div class="col-lg-4 mt-2" *ngIf="!getparamid" (click)="habitSubmit()">
            <button class="btn btn-primary btn-sm">
                CREATE
            </button>
        </div>

        <div class="col-lg-4 mt-2" *ngIf="getparamid" (click)="habitUpdate()">
            <button class="btn btn-dark btn-sm">
                UPDATE
            </button>
        </div>


    </form>

</div>